

/*구간결과*/

.my-res{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.my-res-title{
    color: #000;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-right: 43.8rem;
    margin-bottom: 3.5rem;
    margin-top: 4.5rem;
}

.res-section{
    position: relative;
    width: 56.25rem;
    height: 17.3125rem;
    background-color: #B2EDFF;
    flex-shrink: 0;
}

.res-title{
    position: absolute;
    top: 2rem;
    left: 2.5rem;
    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 171.597%; /* 2.14494rem */
}

.line1{
    display: flex;
    align-items: center;
    gap:1rem;
    flex-direction: row;

    position: absolute;
    top:5.13rem;
    left:2.5rem;
    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0%; /* 0rem */
}

.income{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width: 17.4375rem;
    height: 2.125rem;
    flex-shrink: 0;
    border:none;
    border-radius: 0.625rem;
    background: var(--unnamed, rgba(255, 255, 255, 0.95));
    padding-right: 1rem;

    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line2{
    position:absolute;
    top:9.35rem;
    left:2.5rem;

    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0%; /* 0rem */
}

.line3{
    display: flex;
    align-items: center;
    gap:1rem;
    flex-direction: row;

    position: absolute;
    top:11.38rem;
    left:2.5rem;
    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0%; /* 0rem */
}

.result{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 11.1875rem;
    height: 2.125rem;
    border-radius: 0.625rem;
    background: var(--unnamed, rgba(255, 255, 255, 0.95));
    flex-shrink: 0;

    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*내 혜택*/
.my-ben{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.my-ben-title{
    color: #000;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3.5rem;
    margin-right: 45rem;
    margin-top: 7.5rem;
}

.my-benefit1{
    width: 56.25rem;
    height: 8.9375rem;
    flex-shrink: 0;
    background: var(--grey-0, #F3F3F3);
    display: flex;
    flex-direction: row;
    position: relative;
}

.my-benefit2{
    width: 56.25rem;
    height: 8.9375rem;
    flex-shrink: 0;
    background: var(--grey-0, #F3F3F3);
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top:0.2rem;
}

.my-benefit2 .coupon-use{
    color: var(--unnamed, rgba(255, 255, 255, 0.95));
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 0.3125rem;
    background: var(--1, #00C2FF);
}

.coupon-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
}

.coupon-img>img{
    width: 8.625rem;
    height: 7rem;
    flex-shrink: 0;
    
}

.coupon-name{
    color: var(--2, #434343);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.5rem;
}

.coupon-use{
    color: var(--2, #434343);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 8.0625rem;
    height: 2.875rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: var(--3, #B2EDFF);

    display: flex;
    justify-content:center;
    align-items:center;

    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

/*내 관심 혜택*/
.recommend{
    display:flex;
    justify-content: center;
    align-items: center;
}

.reco{
    position:relative;
    width: 56.25rem;
    height: 30rem;
    flex-shrink: 0;
    margin-top: 3.5rem;
    margin-left: 31.87rem;
    margin-right: 31.87rem;
    
}

.my-reco-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:7.5rem;
    margin-right: 45rem;

    color: #000;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.reco-num{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.625rem;
    height: 3.5625rem;
    flex-shrink: 0;
    background:#00c2ff;
    margin-left: 4rem;

    border-radius: 0 0 0.625rem 0.625rem;
    color: var(--unnamed, rgba(255, 255, 255, 0.95));
    font-family: Pretendard;    
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.reco-name{
    margin-left: 1rem;
    display:flex;
    align-items: center;

    color: var(--1, #333);  
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 171.597%; /* 2.14494rem */
    
}

.activity{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.3rem;
    margin-top:1.19rem;
    margin-left:2.5rem;
    margin-right: 2.44rem;
}



.act-idx{
    display:flex;
    flex-direction:row;
    gap: 0.5rem;
}

.deadline{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 3.375rem;
    height: 1.75rem;
    flex-shrink: 0;
    background:#00C2FF;
    border-radius: 0.1875rem 0.1875rem 0 0;

    color: var(--unnamed, rgba(255, 255, 255, 0.95));
    font-family: Pretendard;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.act-sec{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 3.375rem;
    height: 1.75rem;
    flex-shrink: 0;
    border-radius: 0.1875rem 0.1875rem 0 0;
    background: #00c2ff;

    color: var(--unnamed, rgba(255, 255, 255, 0.95));
    font-family: Pretendard;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.act-content{
    position: relative;
    padding-left:1.25rem;
    width: 15.0625rem;
    height: 25.3125rem ;
    flex-shrink: 0;
    background: #CECECE;
}

.star>img{
    width: 2rem;
    height: 2rem;
}

.star{
    position: absolute;
    top: 0.5rem;
    left: 12.31rem;
}

.star:hover{
    cursor: pointer;
}

.act-img{
    width: 12.5625rem;
    height: 16.1875rem;
    flex-shrink: 0;
}

.act-content>img{
    margin-top:1rem;
    margin-bottom: 0.5rem;
    margin-right:1.25rem;
    border-radius: 0.625rem;
    width: 12.5625rem;
    height: 16.1875rem;
}

.act-name{
    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.act-tag{
    display: flex;
    padding-left: 0.3rem;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.25rem;
    width: 12.5625rem;
    height: 2rem;
    flex-shrink: 0;
    background:#FFFFFFF1;
    border-radius:0.3rem;

    color: #333;
font-family: Pretendard;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.act-info1{
    height:auto;
    margin-top:1rem;
    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.act-info2{
    height:auto;
    width:200px;
    margin-top:0.5rem;
    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

/*더보기 버튼*/

.morebtn{
    
    margin-left: 49.3rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.more{
    display:flex;
    justify-content:center;
    align-items:center;
    
    border:none;
    border-radius: 0.3125rem;
    background: var(--3, #B2EDFF);
    width: 6.8125rem;
    height: 3.1875rem;
    flex-shrink: 0;

    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.morebtn2{
    margin-left: 49.3rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.more2{
    display:flex;
    justify-content:center;
    align-items:center;
    
    border:none;
    border-radius: 0.3125rem;
    background: var(--3, #B2EDFF);
    width: 6.8125rem;
    height: 3.1875rem;
    flex-shrink: 0;

    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.morebtn3{
    margin-left: 49.3rem;
    margin-bottom: 23.56rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.more3{
    display:flex;
    justify-content:center;
    align-items:center;
    
    border:none;
    border-radius: 0.3125rem;
    background: var(--3, #B2EDFF);
    width: 6.8125rem;
    height: 3.1875rem;
    flex-shrink: 0;

    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/*내가 쓴 글*/
.my-post-title{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top: 3.12rem;
    margin-right: 48rem;

    color: #000;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.my-post-title2{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top: 3.12rem;
    margin-right: 46rem;

    color: #000;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.my-post{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    margin-top: 2.25rem;
}

.my-post-idx{
    display: flex;
    flex-direction: row;
    gap: 33.69rem;
    margin-bottom: 0.44rem;

    color: var(--3, #848484);
    text-align: center;
    font-family: Pretendard;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.post-content{
    display:flex;
    flex-direction: row;
    position:relative;

    margin-bottom:2rem;

    width: 56.25rem;
    height: 5.4375rem;
    flex-shrink: 0;

    background: var(--5, #F1F1F1);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10);
}

.post-title{
    position: absolute;
    top: 2rem;
    left: 6rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--1, #333);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.post-info-container{
    position: absolute;
    right: 4.48rem;
    top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align:right;

    color: var(--1, #333);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.post-info1{
    text-align: right;
}

.post-info2{
    text-align: right;
}

