@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* main-Frame*/

body {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 141.625rem;
    width: 120rem;
}

.main-logo{
    margin-top: 31.38rem;
    margin-bottom: 2.5rem;
    border-radius: 3.125rem;
    box-shadow: 5px 5px 10px var(--5, #CECECE);
    width: 16.25rem;
    height: 16.25rem;
    flex-shrink: 0;
}

img{
    margin-top: 4.5rem;
    margin-left: 2.51rem;
    width: 11.6875rem;
    height: 7.1875rem;
    flex-shrink: 0;
}

#main-title{
    color: var(--5, #CECECE);
    font-size: 2.1875rem;
    font-family: 'Pretendard-regular';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#sub-title{
    color: var(--5, #CECECE);
    font-size: 1.875rem;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-form{
    width: 37.5625rem;
    height: 3.5rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    border: 2px solid var(--5, #CECECE);
}

input{
    color: var(--5, #CECECE);
    font-size: 1.25rem;
    font-family: 'Pretendard-regular';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

input::placeholder {
    color: var(--5, #CECECE);
    font-size: 1.25rem;
    font-family: 'Pretendard-regular';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

button{
    width: 15.125rem;
    height: 3.4375rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: var(--5, #CECECE);
    color: #FFF;
    font-size: 1.875rem;
    font-family: 'Pretendard-regular';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
}

a{
    text-decoration: none;
    color: var(--5, #CECECE);
    font-size: 1.25rem;
    font-family: 'Pretendard-regular';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


.password-label{
    position: relative;
    display: inline-block;
}
  
.password-label .toggle-image1 {
    position: absolute;
    width: 1.5625rem;
    height: 1.1875rem;
    flex-shrink: 0;
    cursor: pointer;
    right: 1.5rem;
    top: -3.2rem;
}

.password-label .toggle-image2 {
    position: absolute;
    width: 1.5625rem;
    height: 1.1875rem;
    flex-shrink: 0;
    cursor: pointer;
    right: 1.5rem;
    top: -3.2rem;
}

#find-out{
    color: var(--5, #CECECE);
    font-size: 1.25rem;
    font-family: 'Pretendard-regular';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    height: 3.5rem;
}