/*구간버튼*/

.choice-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--2, #434343);
    font-family: Pretendard;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4.5rem;

}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.9375rem;
    height: 2.6875rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: rgba(255, 178, 178, 1);
    border: none;
}


.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.9375rem;
    height: 2.6875rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #FFD2B2;
    border: none;
}

.btn3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.9375rem;
    height: 2.6875rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #FFF3B2;
    border: none;
}

.btn4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.9375rem;
    height: 2.6875rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #CCF2B4;
    border: none;
}

.btn5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.9375rem;
    height: 2.6875rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #B8F1D6;
    border: none;
}

.btn6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.9375rem;
    height: 2.6875rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #B2ECFF;
    border: none;
}

.btn7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.9375rem;
    height: 2.6875rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #B2CCFF;
    border: none;
}

.btn8 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.9375rem;
    height: 2.6875rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #D9CBFF;
    border: none;
}

.btn9 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.9375rem;
    height: 2.6875rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #F0C7FF;
    border: none;
}

.btn10 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.9375rem;
    height: 2.6875rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #FFC8EC;
    border: none;
}

/*태그버튼*/
.hashtag {
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--2, #434343);
    font-family: Pretendard;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2.5rem;
}

.tag-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.125rem;
    height: 3.1875rem;
    flex-shrink: 0;

    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tag {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: auto;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: var(--5, #F1F1F1);

    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tag.selected {
    background: #FFB2B2;
    /* 선택된 버튼의 배경색 변경 */
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #fff;
    /* 선택된 버튼의 글자색 변경 */
}

/*체크박스, 글쓰기버튼*/
.opt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 14rem;
    margin-top: 5rem;
}

.post-num {
    margin-left: 7rem;
    color: var(--2, #434343);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
}

.post-num span{
    color: var(--2, #434343);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: norm
}

/* .radio-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4.63rem;
} */

.post {
    width: 6.8125rem;
    height: 3.1875rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: var(--1, #00C2FF);
    border: none;
    color: var(--unnamed, rgba(255, 255, 255, 0.95));
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.post>img {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}

/* .radio1 {
    color: var(--2, #434343);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.radio1,
.radio2,
.radio3,
.radio4:hover {
    cursor: pointer;
}

.radio2>img {
    width: 1.125rem;
    height: 1.125rem;
}

.radio1>img {
    width: 1.125rem;
    height: 1.125rem;
}

.radio3>img {
    width: 1.125rem;
    height: 1.125rem;
}

.radio4>img {
    width: 1.125rem;
    height: 1.125rem;
}

.radio2 {
    color: var(--2, #434343);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.radio3 {
    color: var(--2, #434343);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.radio4 {
    color: var(--2, #434343);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

/*앨범형보기*/
.idx {
    display: flex;
    justify-content: center;
    align-items: center;

}

.idx-content {
    display: flex;
    flex-direction: row;
    gap: 1.82rem;
    margin-top: 3.5rem;
    margin-left: 55rem;
    margin-bottom: 5rem;
    color: var(--2, #434343);
    text-align: center;
    font-family: Pretendard;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.album-icon {
    margin-bottom: 0.3rem;
}

.index1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.index2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.index1,
.index2:hover {
    cursor: pointer;
}

/*post*/
/*내 관심 혜택*/
.recommend {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reco {
    position: relative;
    width: 56.25rem;
    height: 30rem;
    flex-shrink: 0;
    margin-top: 3.5rem;
    margin-left: 31.87rem;
    margin-right: 31.87rem;

}

.my-reco-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
    margin-right: 45rem;

    color: #000;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.reco-num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.625rem;
    height: 3.5625rem;
    flex-shrink: 0;
    background: #00c2ff;
    margin-left: 4rem;

    border-radius: 0 0 0.625rem 0.625rem;
    color: var(--unnamed, rgba(255, 255, 255, 0.95));
    font-family: Pretendard;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.reco-name {
    margin-left: 1rem;
    display: flex;
    align-items: center;

    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 171.597%;
    /* 2.14494rem */

}

.activity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.31rem;
    margin-left: 2.5rem;
    margin-right: 2.44rem;
}



.act-idx {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.deadline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.375rem;
    height: 1.75rem;
    flex-shrink: 0;
    background: #00C2FF;
    border-radius: 0.1875rem 0.1875rem 0 0;

    color: var(--unnamed, rgba(255, 255, 255, 0.95));
    font-family: Pretendard;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.act-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.375rem;
    height: 1.75rem;
    flex-shrink: 0;
    border-radius: 0.1875rem 0.1875rem 0 0;
    background: #00c2ff;

    color: var(--unnamed, rgba(255, 255, 255, 0.95));
    font-family: Pretendard;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.act-content {
    position: relative;
    padding-left: 1.25rem;
    width: 15.0625rem;
    height: 25.3125rem;
    flex-shrink: 0;
    background: #CECECE;
}

.act-content:hover {
    cursor: pointer;
}

.star>img {
    width: 2rem;
    height: 2rem;
}

.star {
    position: absolute;
    top: 0.5rem;
    left: 12.31rem;
}

.star:hover {
    cursor: pointer;
}

.act-img {
    width: 12.5625rem;
    height: 16.1875rem;
    flex-shrink: 0;
}

.act-content>img {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 1.25rem;
    border-radius: 0.625rem;
    width: 12.5625rem;
    height: 16.1875rem;
}

.act-name {
    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.act-tag {
    display: flex;
    padding-left: 0.3rem;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.25rem;
    width: 12.5625rem;
    height: 2rem;
    flex-shrink: 0;
    background: #FFFFFFF1;
    border-radius: 0.3rem;

    color: #333;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.act-info1 {
    height: auto;
    margin-top: 1rem;
    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.act-info2 {
    height: auto;
    width: 200px;
    margin-top: 0.5rem;
    color: var(--1, #333);
    font-family: Pretendard;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

/* 라디오 버튼 */
/* 라디오버튼 */
[type="radio"],
span {
    vertical-align: middle;
    margin-left: 0.3rem;
    color: var(--2, #434343);
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

label {
    margin-right: 4.65rem;
}

[type="radio"] {
    appearance: none;
    border: max(2px, 0.1em) solid var(--4, #CECECE);
    background-color: var(--4, #CECECE);
    border-radius: 50%;
    width: 1.125rem;
    height: 1.125rem;
    flex-shrink: 0;
    transition: border 0.5s ease-in-out;
}

[type="radio"]:checked {
    border: 0.45em solid var(--2, #74DEFF);
}

[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted var(--2, #74DEFF);
}

[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) var(--2, #74DEFF);
    cursor: pointer;
}

[type="radio"]:hover+span {
    cursor: pointer;
}

fieldset {
    display: flex;
    justify-content: center;
    border: none;
    margin: 0;
}